<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.pourhashem.com/xtext/oltl/Oltl"
			class = "com.pourhashem.xtext.oltl.oltl.OltlPackage"
			genModel = "model/generated/Oltl.genmodel" />
	</extension>
</plugin>
